/frontend/node_modules/*
/Arithmetic_PvP_backend/venv/*
/frontend/.idea/*
/Arithmetic_PvP_backend/.idea/*
/Arithmetic_PvP_backend/api/migrations/*
/Arithmetic_PvP_backend/api/__pycache__/*
#.idea/misc.xml
#/Arithmetic_PvP_backend/.idea/Arithmetic_PvP_backend.iml
Arithmetic_PvP_backend/.idea/Arithmetic_PvP_backend.iml
Arithmetic_PvP_backend/.idea/misc.xml
.idea/misc.xml
frontend/package-lock.json
