body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper {
    background: linear-gradient(124deg, #ff4f32, #ec4a4a, #e8b71d, #e3e81d, #1de840, #1ddde8, #7f77f1, #ea66f7);

    background-size: 100% 1200%;

    -webkit-animation: rainbow 30s ease infinite;
    -z-animation: rainbow 30s ease infinite;
    -o-animation: rainbow 30s ease infinite;
    animation: rainbow 30s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.body-con {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-con {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

a:hover svg {
    color: lightseagreen; /* Цвет ссылок */
}

a:hover .links {
    color: lightseagreen; /* Цвет ссылок */
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}



.fade_community-enter-active {
    transition: opacity 2s;
    /*transition: all 3s ease;*/
}

.fade_community-leave-active{
    /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}

.fade_community-enter, .fade_community-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(100);

}
